<div class="section_footer">
    <div class="container">
        <div class="mail_section">
            <div class="row">
                <div class="col-sm-6 col-lg-2">
                    <div><a href="#"><img src="~/images/footer-logo.png"></a></div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <div class="footer-logo"><img src="~/images/phone-icon.png"><span class="map_text">(71) 1234567890</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="footer-logo"><img src="~/images/email-icon.png"><span class="map_text">Demo@gmail.com</span></div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <div class="social_icon">
                        <ul>
                            <li><a href="#"><img src="~/images/fb-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/twitter-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/in-icon.png"></a></li>
                            <li><a href="#"><img src="~/images/google-icon.png"></a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-2"></div>
            </div>
        </div>
        <div class="footer_section_2">
            <div class="row">
                <div class="col-sm-4 col-lg-2">
                    <p class="dummy_text"> ipsum dolor sit amet, consectetur ipsum dolor sit amet, consectetur  ipsum dolor sit amet,</p>
                </div>
                <div class="col-sm-4 col-lg-2">
                    <h2 class="shop_text">ĐỊA CHỈ </h2>
                    <div class="image-icon"><img src="~/images/map-icon.png"><span class="pet_text">451 Tô Hiến Thành, Phường 14, Quận 10, TP.HCM.</span></div>
                </div>
                <div class="col-sm-4 col-md-6 col-lg-3">
                    <h2 class="shop_text">CHÍNH SÁCH CÔNG TY </h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Vận chuyển bán hàng</li>
                            <li>Chính sách bán hàng</li>
                            <li>Chính sách Đổi Trả & Bảo Hành</li>
                            <li>Chính sách bảo mật</li>
                           
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-3">
                    <h2 class="adderess_text">DANH MỤC NỔI BẬT </h2>
                    <div class="delivery_text">
                        <ul>
                            <li>Giới thiệu về PulloShop</li>
                            <li>Giày thể thao</li>
                            <li>Sản phẩm giảm giá</li>
                            <li>Phụ kiện</li>
                          
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 col-lg-2">
                    <h2 class="adderess_text">Newsletter</h2>
                    <div class="form-group">
                        <input type="text" class="enter_email" placeholder="Enter Your email" name="Name">
                    </div>
                    <button class="subscribr_bt">Subscribe</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="copyright">2019 All Rights Reserved. <a href="https://html.design">Free html  Templates</a></div>

