
@{
    ViewData["Title"] = "Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
	ViewBag.Notice = "Application Role";
}

@using Microsoft.AspNetCore.Identity;
@model IEnumerable<IdentityRole>

<section class="wrapper">
	<div class="row" style="height: 600px">
		<div class="col-lg-9 main-chart">
			<div class="form-horizontal">
				<h4>Danh sách vai trò</h4>
				<hr />
<table class="table">
	<thead>
		<tr>
			<th>@Html.DisplayNameFor(model => model.Id)</th>
			<th>@Html.DisplayNameFor(model => model.Name)</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var role in Model)
		{
			<tr>
				<td>@Html.DisplayFor(model => role.Id)</td>
				<td>@Html.DisplayFor(model => role.Name)</td>
			</tr>
		}
	</tbody>
</table>
</div>
</div>
</div>
</section>
